@use "../../../src/scss/global";

.switch-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 255px;
  height: 52px;
  border-radius: 20px;
  background-color: global.$tertiary;
}

.highlight {
  position: absolute;
  top: 19px;
  left: 19px;
  width: 125px;
  height: 46px;
  border-radius: 20px;
  background-color: global.$primary;
  transition: transform 0.3s ease;
  z-index: 0;
}

.switch-btn {
  position: relative;
  z-index: 1;
  width: 125px;
  height: 46px;
  padding: 16px 35px;
  border-radius: 20px;
  border: none;
  background: none;
  color: black;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s ease;
}

.switch-btn.active {
  color: white;
}
