@import '/src/scss/colors.scss';


.btn {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: none;
  line-height: 24px;
  cursor: pointer;
  color: #FFFFFF;
  background-color: $primary;
  font-size: 14px;

  &.little {
    width: 137px;
    height: 44px;
    padding: 10px 14px;
  }

  &.normal {
    width: 168px;
    height: 44px;
  }
  
  &.big {
    width: 190px;
    height: 54px;
    padding: 11px 46px 12px 46px;
    font-size: 16px;
  }

  &:hover {
    background-color: #467DFF;
  }

  &:active {
    background-color: $primary;
    box-shadow: none;
  }

  &:focus {
    background-color: $primary;
  }

  &:disabled {
    background-color: #9497A1;
    cursor: default;
    box-shadow: none;
  }
}

.btn.fill {
  &.little {
    box-shadow: 0px 12px 30px #185dff34;
  }

  &.normal {
    box-shadow: 0px 12px 30px #185dff34;

  }
  
  &.big {
    font-size: 16px;
    box-shadow: 0px 12px 30px #185dff34;
  }
   
  &:disabled {
    box-shadow: none;
  }
}

.btn.no-fill {
  background: none;
  color: #292D33;
  &.little {
    width: 168px;
    height: 44px;
  }

  &.normal {
    width: 218px;
    height: 54px;
    padding: 11px 46px;
    font-size: 16px;
  }
  
  &.big {
    width: 328px;
    height: 54px;
    padding: 11px 26px;
    font-size: 16px;
    border: 1px $primary solid;
    color: $primary;
    &:hover, :focus {
      color: #467DFF;
      border-color: #467DFF;
    }
    &:disabled {
      border-color: $grey;
      color: $grey;
    }
  }

  &:hover {
    color: $primary;
  }

  &.little.hover {
    box-shadow: none;
  }
  
  &:active {
    color: $primary;
  }

  &:focus {
    color: $primary;
  }

  &:disabled {
    color: $grey;
  }
}

.btn.rounded {
  border-radius: 50%;
  padding: 0;
  &::before {
    content: '';
    border: 2px solid rgba(255, 255, 255, 0.411); /* White border */
    border-radius: 50%; 
    position: absolute;
  }

  &.big {
    width: 140px;
    height: 140px;
    &::before {
      width: 120px;
      height: 120px;
    }
  }

  &.normal {
    width: 100px;
    height: 100px;
    font-size: 12px;
    
    &::before {
      width: 85px;
      height: 85px;
    }
  }
}